<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <div class="d-flex justify-content-center">
                <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
                <!-- <img src="../../../assets/images/undraw_page_not_found_re_e9o6.svg" alt="" style="width: 50%;"> -->
            </div>
            <br>
            <h1 class="text-center">A página que você tentou acessar não foi encontrada!
                <br>
                Nós estamos aqui para ajudá-lo(a)
            </h1>
            <br>
            <hr>
            <br>
            <p class="text-secondary">A página que você está procurando não existe. Talvez você tenha acidentalmente
                digitado algo errado no endereço da página, ou seguido de um link expirado. De qualquer forma, vamos
                ajudá-lo a voltar à navegar. Por que você não tenta voltar para nossa página inicial?</p>
            <br>
            <br>
        </div>
    </div>
    <br>
</div>