<header>
    <nav [ngSwitch]="userLogged()" class="navbar navbar-expand-md fixed-top navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" routerLink="/">GAMERS COMMUNITY</a>
            
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
                    <li *ngSwitchCase="false">
                        <a class="nav-link" routerLink="./auth" (click)="isMenuCollapsed=true">Entrar</a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="nav-link" routerLink="./auth/signup" (click)="isMenuCollapsed=true">Cadastre-se</a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="nav-link" routerLink="./auth/signup" (click)="logout()">Sair da Conta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>