<div class="container">
    <div class="row">
        <!-- title -->
        <div class="col-md-12 mt-5 mb-5">
            <h1 class="text-center">CHAT</h1>
        </div>
        <br>
        <hr>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <ng-lottie width="70%" (animationCreated)="animationCreated" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <!-- load iframe with security policy self  -->
                <iframe src="http://15.229.15.203:8000/" title="W3Schools Free Online Web Tutorials" width="600" height="400"></iframe>
            </div>
        </div>
    </div>
</div>